<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>1.분석목표 및 방법</h2>
    <hr>
    <h3>분석목표설정</h3> <!-- 데이터 분석을 하는 목적에 대한 목표 작성 -->
    <ul>
        <li>아파트 데이터 내 있는 데이터를 확인하고 다양한 정보를 활용해 분석 및 시각화</li>
        <li>시각화한 데이터를 통한 인사이트 습득</li>
    </ul>

    <hr>
    <h3>분석방법</h3> <!-- 데이터를 활용해 어떤 분석을 할 것인지 작성 -->
    <ul>
        <li>아파트 파일에 있는 데이터 정보(크기,종류,자료형 등) 확인</li>
        <li>아파트 데이터를 통한 법정동 별 가격 확인</li>
        <li>가장 비싸게 거래 된 아파트 확인하기</li>
    </ul>
</body>

</html>