<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: rgb(255, 110, 178, 0.3);
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!-- 데이터 분석에 참고한 사이트, 데이터, 사진 등 작성 -->
    <header>
        <h2>6. 참고문헌</h2>
    </header>
    <hr>
    <ol>
        <li>분석방법: <a href='#'>파이썬 쥬피터 노트북</a></li>
        <li>지도: <a href='http://nationalatlas.ngii.go.kr/pages/page_2899.php'>대한민국 국가 지도집</a></li>
        <li>교통사고 빈도수 데이터: <a href='https://taas.koroad.or.kr/sta/acs/exs/typical.do?menuId=WEB_KMP_OVT_UAS_PDS&patternId=646'>한국도로교통공단 교통사고분석시스템</a></li>
        <li>인구수 데이터: <a href='https://jumin.mois.go.kr/'>주민등록 인구통계 행정안전부</a></li>
    </ol>
</body>
</html>