<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            border-start-end-radius: 5px;
            background-color: rgb(221, 248, 255) !important;
        }
    </style>
</head>

<body>
    <!-- 데이터 분석 과정을 통해 느낀 생각 작성 -->
    <h2>코드 짤때의 문제점</h2>
    <hr>
    <h3>문제점들</h3>
    <ul>
        <li>인구밀도에 해당하는 데이터는 csv파일이였지만, 교통사고 빈도수에 해당하는 데이터는 xlsx라 파이썬으로 파일을 변환하는 과정이 필요했다.</li>
        <br>
        <img src="{{url_for('static', filename='xlsx2csv.jpg')}}" alt="이미지없음">
        <br>
        <li>인구수에 해당하는 데이터에서는 2023년부터 강원도특별자치도라는 새로운 컬럼이 생겨서 강원도의 인구 값이 0이 나왔었다.
            내용을 통일하기 위해 변화한 인덱스 번호를 찾아 제거후 두 dataframe을 합치는 concat을 활용하였다.
        </li>
        <br>
        <img src="{{url_for('static', filename='concat.JPG')}}" alt="이미지없음">  
        <br>
        <li>교통사고 빈도수와 인구수에 해당하는 csv파일을 합치는 과정이 필요했다.
            인덱스번호가 다른 상태면 인덱스번호에 따라서 합쳐져 각각, 비어있는 인덱스 번호가 none값으로 나왔음을 확인했다.
        </li>
        <br>
        <img src="{{url_for('static', filename='drop_null_data.jpg')}}" alt="이미지없음">
        <br>
        <li>csv파일에서 인구수의 값이 str값이라서 int값으로 변환하는 작업이 기존에 배웠던 방법으로 알 수 없었다.</li>
        <br>
        <img src="{{url_for('static', filename='alt_str2int.jpg')}}" alt="이미지없음">
        <br>
    </ul>
    

</body>

</html>