<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        데이터 전처리 과정에 대해 상세히 작성
        : 데이터 확인 - 결측값확인 - 데이터 가공 순
        ex) 1.활용할 데이터에 대한 파악(유의미/무의미한 데이터, 분석에 활용한 데이터컬럼 구분 등 작성 => 텍스트 + 이미지)
            2.결측값 혹은 이상치가 있을 경우 어떻게 해결하였는지 작성(텍스트 + 이미지)
            3.전처리로 가공된 데이터 
    -->
    <h2>3.데이터 전처리 과정</h2> 
    <hr>
    <p>데이터 전처리 과정에 대해 상세히 작성<br>
        : 데이터 확인 - 결측값확인 - 데이터 가공 순<br>
        ex) 1.활용할 데이터에 대한 파악(유의미/무의미한 데이터, 분석에 활용한 데이터컬럼 구분 등 작성 => 텍스트 + 이미지)<br>
            2.결측값 혹은 이상치가 있을 경우 어떻게 해결하였는지 작성(텍스트 + 이미지)<br>
            3.전처리로 가공된 데이터 </p>
    
</body>
</html>