<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 600px;
        }

        
    </style>
</head>

<body>
    <!-- 분석결과시각화를 통해 느낀 생각에 대해 작성 -->
    <h2>4.분석결과시각화</h2> 
    <hr>
    <table>
        <caption>워크클라우드</caption>
        <tr>
            <td>
                <img src="{{url_for('static', filename='wordcloud2.jpg')}}" alt='워드클라우드' width='400' height='400' />
            </td>
            <td>
                <p>
                <h4>분석 순서</h4>
                <ol>
                    <li>분석순서내용1</li>
                    <li>분석순서내용2</li>
                    <li>분석순서내용3</li>
                </ol>
                </p>
                <p>
                <h4>분석 결과</h4>
                <ol>
                    <li>분석결과내용1</li>
                    <li>분석결과내용2</li>
                    <li>분석결과내용3</li>
                </ol>
                </p>
            </td>
        </tr>
    </table>

    <table>
        <caption>그래프</caption>
        <tr>
            <td>
                <img src="{{url_for('static', filename='graph2.jpg')}}" alt='그래프' width='400' height='400' />
            </td>
            <td>
                <h3>워크클라우드</h3>
                <p>
                <h4>분석 순서</h4>
                <ol>
                    <li>분석순서내용1</li>
                    <li>분석순서내용2</li>
                    <li>분석순서내용3</li>
                </ol>
                </p>
                <p>
                <h4>분석 결과</h4>
                <ol>
                    <li>분석결과내용1</li>
                    <li>분석결과내용2</li>
                    <li>분석결과내용3</li>
                </ol>
                </p>
            </td>
        </tr>
    </table>
</body>

</html>