<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>2.사용한 라이브러리 및 활용 데이터셋</h2>
    <hr>
    <h3>라이브러리</h3> <!-- 분석에 활용한 라이브러리 작성 -->
    <ol>
        <li>numpy</li>
        <li>pandas</li>
        <li>matplotlib</li>
        <li>seaborn</li>
    </ol>

    <hr>
    <h3>활용 데이터셋</h3>
    <ol>
        <!-- 분석에 활용한 데이터 컬럼 및 데이터 총 갯수 작성 -->
        <li>구별 범죄수: 1000건</li>
        <li>구별 아파트 거래금액, 거래량: 500건(크롤링활용)</li>
        <li>구별 평당가</li>
        <li>컬럼구성
            <img src="{{url_for('static', filename='data_desc.jpg')}}" alt="데이터컬럼" />
        </li>
    </ol>
</body>
</html>